.blogcontainer {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.cardImage {
  position: relative;
  width: 100%;
  height: 400px; /* ⚠️ Bu çok önemli! */
  margin-bottom: 20px;
  object-fit: cover;
}

.title {
  font-size: 32px;
  margin-bottom: 16px;
}
